// bower:scss
// endbower
html { box-sizing: border-box; } *, ::before, ::after { box-sizing: inherit; }

body {
  padding: 0;
}

md-content {
  background: #f2f2f2;
}

md-card {
  margin-bottom: 16px;
}
