$fa-font-path: "../fonts/font-awesome";
$roboto-font-path: "../fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "roboto-fontface/css/roboto/sass/roboto-fontface.scss";
@import "_material-icons.scss";
@import "_login.scss";

html { box-sizing: border-box; } *, ::before, ::after { box-sizing: inherit; }

body {
  padding: 0;
}

.view {
  overflow: hidden; 
  overflow-y: auto; 
  -webkit-overflow-scrolling: touch;
  position: absolute; 
  top:0; 
  left: 0; 
  bottom:0; 
  right: 0;
}

md-card {
  margin-bottom: 16px;
}

.md-overlay-bg {
  background-color: rgba(33, 33, 33, 0.48);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;

  &.hide-overlay {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  md-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.bg-header {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 200px;
  width: 100%;
  z-index: 1;

  &:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: 1;
    opacity: 0.1;
    background-image: url('../images/office-730681_640.jpg');
    background-repeat: no-repeat;
    background-position: 50% 70%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

.main-layout {
  z-index: 2;
  position: absolute;
  width: 100%;

  .main-layout-header {
    padding: 24px 8px;
    height: 136px;
    max-height: 136px;
    min-height: 136px;

    .title {
      color: rgba(255, 255, 255, 0.87);
      padding: 24px;
      font-size: 0.8em;
      
      h1 {
        font-size: 1.6em;
        font-weight: 400;
        color: rgb(255, 255, 255);
        margin: 0 0 8px  0 ;
      }


    }
  }
}