$fa-font-path: "../fonts/font-awesome";
$roboto-font-path: "../fonts";

// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower
@import "roboto-fontface/css/roboto/sass/roboto-fontface.scss";
@import "_material-icons.scss";

html { box-sizing: border-box; } *, ::before, ::after { box-sizing: inherit; }

body {
  padding: 0;
}

md-card {
  margin-bottom: 16px;
}

.md-overlay-bg {
  background-color: rgba(33, 33, 33, 0.48);
  transition: visibility 0s, opacity 0.5s linear;
  opacity: 1;
  visibility: visible;

  &.hide-overlay {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  md-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.login-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform 300ms;
  z-index: 10000;

  &.ng-enter {
    transform: translateY(-100%);
  }
  &.ng-enter.ng-enter-active {
    transform: translateY(0);
  }

  &.ng-leave {
    transform: translateY(0);
  }
  &.ng-leave.ng-leave-active{
    transform: translateY(-100%);
  }

  .login-area  {
    background-color: #fff;
    padding: 24px;

    .title {
      font-size: 1.6em;
      margin-bottom: 8px;
    }

    .description {
      font-size: 0.9em;
    }

    .login-form {
      margin-top: 16px;

      .submit-button {
        width: 100%;
        margin: 16px auto;
        display: block;
      }

      .register {
        font-size: 0.8em;
      }
    }
  }

  .login-bg {
    position: relative;
    height: 128px;
    max-height: 128px;
    min-height: 128px;
    overflow: hidden;
    opacity: 1;
    padding: 16px;

    .login-welcome {
      text-align: center;
      font-size: 0.9em;
    }

    h1 {
      font-size: 1.4em;
      font-weight: 500;
      margin: 8px 0;

      md-icon {
        color: #fff;
        font-size: 20px;
        height: 24px;
        width: 20px;
        min-height: 24px;
        min-width: 20px;
        vertical-align: bottom;
      }
    }
  }

  .login-bg:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url('../images/office-730681_640.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .login-bg > * {
    z-index: 2;
  }

  .login-title {
    position: absolute;

  }
}

@media (min-width: 601px) {
  .login-mask {
    .login-area {
      padding: 48px;
    }

    .login-bg {
      h1 {
        font-size: 1.8em;
        font-weight: 300;

        md-icon {
          font-size: 24px;
          height: 28px;
          width: 24px;
          min-height: 28px;
          min-width: 24px;
        }
      }
    }
  }

}
@media (min-width: 961px) {
  .login-mask {
    .login-area {
      max-width: 480px;
      padding: 128px 48px;

      .login-form {
        margin-top: 48px;
      }


    }

    .login-bg {
      height: 100%;
      max-height: 100%;
      min-height: 100%;

      .login-welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      h1 {
        font-size: 2.2em;
        font-weight: 300;

        md-icon {
          font-size: 36px;
          height: 40px;
          width: 36px;
          min-height: 40px;
          min-width: 36px;
        }
      }
    }
  }
}