<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staff Management App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="staffManagerAppDev" ng-cloak layout="row"  ng-controller="AppCtrl as app">

  <ng-include src="'scripts/login/login.template.html'"></ng-include>

  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-navigation-drawer" md-whiteframe="4" md-component-id="left" >
    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <span><md-icon>face</md-icon> Staff Manager</span>
      </div>
    </md-toolbar>
    <md-list>
      <md-list-item role="link" class="md-2-line" ng-click="app.navigateTo('home')">
        <div>
          <md-icon class="md-avatar-icon">home</md-icon>
          Home
        </div>
      </md-list-item>
      <md-list-item  role="link" class="md-2-line" ng-click="app.navigateTo('about')">
        <div>
          <md-icon class="md-avatar-icon">info</md-icon>
          About
        </div>
      </md-list-item>
      <md-list-item  role="link" class="md-2-line" ng-click="app.login.hide = false">
        <div>
          <md-icon class="md-avatar-icon">lock</md-icon>
          Login
        </div>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <div flex layout="column">
    <md-toolbar layout="row" md-whiteframe="2">
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="menu" hide-gt-sm ng-click="app.toggleSidenav()" >
          <md-icon>menu</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-content flex id="content" >
      <md-backdrop class="md-sidenav-backdrop md-overlay-bg" ng-class="{'hide-overlay': app.loadingIndicatorService.isLoading !== true}" >
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </md-backdrop>
      <div flex ng-view="" layout-fill class="view"></div>
    </md-content>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- injector:js -->
  <script src="/scripts/fake-backend/app-backend.module.js"></script>
  <script src="/scripts/app.module.js"></script>
  <script src="/scripts/fake-backend/services/dev-storage.service.js"></script>
  <script src="/scripts/services/loading-indicator.service.js"></script>
  <script src="/scripts/services/api-ready.service.js"></script>
  <script src="/scripts/about/about.controller.js"></script>
  <script src="/scripts/main/main.controller.js"></script>
  <script src="/scripts/app.controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->
</body>
</html>
