<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Staff Management App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="staffManagerAppDev" ng-cloak layout="column"  ng-controller="AppCtrl as app">

  <md-backdrop layout-fill layout-padding md-theme="default" class="login-mask md-primary" ng-if="false">
    <md-content class="login-mask-inner md-hue-2 ng-scope flex md-default-theme" layout-padding>
      <h2 class="">Login</h2>
      <form name="projectForm">
          <md-input-container class="md-block">
            <label>E-Mail</label>
            <input required md-no-asterisk name="description" ng-model="project.description">
            <div ng-messages="projectForm.description.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input required type="password" name="clientName" ng-model="project.clientName">
            <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <md-button>Login</md-button>
          </md-input-container>
        </form>
      </md-content>
    </md-backdrop>

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <span><md-icon>face</md-icon> Staff Management {{app.test}}</span>
      <!-- fill up the space between left and right area -->
      <span flex></span>
      <md-button class="menu" hide-gt-sm ng-click="app.toggleSidenav()" >
        <md-icon>menu</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div flex layout="row">
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left md-whiteframe-z2 md-navigation-drawer" md-component-id="left" >
      <md-list>
        <md-list-item role="link" class="md-2-line" ng-click="app.navigateTo('home')">
          <div>
            <md-icon class="md-avatar-icon">home</md-icon>
            Home
          </div>
        </md-list-item>
        <md-list-item  role="link" class="md-2-line" ng-click="app.navigateTo('about')">
          <div>
            <md-icon class="md-avatar-icon">info</md-icon>
            About
          </div>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content flex id="content" layout-padding layout-fill >
      <md-backdrop class="md-sidenav-backdrop md-overlay-bg" ng-class="{'hide-overlay': app.loadingIndicatorService.isLoading !== true}" >
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </md-backdrop>
      <div ng-view=""></div>
    </md-content>
  </div>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <!-- injector:js -->
  <script src="/scripts/fake-backend/app-backend.module.js"></script>
  <script src="/scripts/app.module.js"></script>
  <script src="/scripts/fake-backend/services/dev-storage.service.js"></script>
  <script src="/scripts/services/loading-indicator.service.js"></script>
  <script src="/scripts/services/api-ready.service.js"></script>
  <script src="/scripts/about/about.controller.js"></script>
  <script src="/scripts/main/main.controller.js"></script>
  <script src="/scripts/app.controller.js"></script>
  <!-- endinjector -->
  <!-- endbuild -->
</body>
</html>
